@import url(bootstrap/bootstrap.css);
/* line 36, /Users/flavioalves/.rvm/gems/ruby-2.0.0-p195/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(http://localhost:3000/behaviors/box-sizing/boxsizing.php.css);
}

/* line 4, /Users/flavioalves/.rvm/gems/ruby-2.0.0-p195/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format("woff");
}

/* line 1, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_buttons.sass */
button, html input[type="button"], input[type="submit"] {
  background: #f0f0f0;
  border: 1px solid #606060;
  padding: 20px;
  color: #454545;
  font-weight: bold;
  font-size: 23px;
  border-radius: 3px;
  margin: 10px;
  text-align: center;
}
/* line 12, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_buttons.sass */
button.selected, html input[type="button"].selected, input[type="submit"].selected {
  background: #48b66f;
  border: 1px solid #4b815e;
  color: white;
}
/* line 17, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_buttons.sass */
button.nps, html input[type="button"].nps, input[type="submit"].nps {
  width: 69px;
  height: 62px;
  padding: 0px;
}
/* line 22, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_buttons.sass */
button.heart, html input[type="button"].heart, input[type="submit"].heart {
  background-image: url("heart@2x.png");
  background-size: 55px 49px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 55px 24px 0px 24px;
  font-size: 14px;
  font-weight: 400;
  color: #454545;
}
/* line 31, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_buttons.sass */
button.heart.selected, html input[type="button"].heart.selected, input[type="submit"].heart.selected {
  background-image: url("red-heart@2x.png");
  background-size: 55px 49px;
  background-repeat: no-repeat;
}
/* line 34, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_buttons.sass */
button.star, html input[type="button"].star, input[type="submit"].star {
  background-image: url("star@2x.png");
  background-size: 58px 55px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 55px 25px 0px 25px;
  font-size: 14px;
  font-weight: 400;
  color: #454545;
}
/* line 43, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_buttons.sass */
button.star.selected, html input[type="button"].star.selected, input[type="submit"].star.selected {
  background-image: url("green-star@2x.png");
  background-size: 58px 55px;
  background-repeat: no-repeat;
}

/* line 26, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_all.sass */
html {
  overflow-y: scroll;
}

/* line 61, /Users/flavioalves/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, /Users/flavioalves/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 36, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_all.sass */
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  padding-top: 100px;
  color: #454545;
}
/* line 42, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_all.sass */
body .fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* line 48, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_all.sass */
body .profiler-results {
  display: none;
}
/* line 51, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_all.sass */
body button, body a, body input, body textarea {
  outline: none;
}

/* line 55, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/base/_all.sass */
body[data-development-grid="show"] .profiler-results {
  display: block;
}

/* line 2, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_header.sass */
.l-header .container {
  border-bottom: 1px solid #b0b0b0;
  height: 90px;
  line-height: 90px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 9, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_header.sass */
.l-header .progress {
  height: 5px;
  position: relative;
  top: 60px;
  display: block;
  border-radius: 0px;
  overflow: inherit;
}
/* line 17, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_header.sass */
.l-header .progress .progress-bar {
  background-color: black;
  float: none;
}
/* line 23, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_header.sass */
.l-header .client {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
/* line 28, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_header.sass */
.l-header .slider {
  margin-top: -60px;
}
/* line 31, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_header.sass */
.l-header .slider span {
  height: 29px;
  width: 17px;
  background: white;
  display: block;
}
/* line 37, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_header.sass */
.l-header .slider span.left {
  background: url("slide-marker-sprite.png") no-repeat;
  background-size: cover;
  float: left;
}
/* line 41, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_header.sass */
.l-header .slider span.left.no-more {
  background-position: 0px -58px;
}
/* line 44, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_header.sass */
.l-header .slider span.right {
  background: url("slide-marker-sprite.png") no-repeat;
  background-position: 0px -30px;
  background-size: cover;
  float: right;
}
/* line 50, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_header.sass */
.l-header .slider span.right.no-more {
  background-position: 0px -86px;
}

/* line 1, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_footer.sass */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: white;
}

/* line 10, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_footer.sass */
.container .developed-by {
  border: 1px solid #7c7c7c;
  padding: 10px;
  width: 195px;
  font-size: 12px;
  border-radius: 3px;
  text-align: center;
}

/* line 5, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list {
  list-style: none;
  display: table;
  padding-left: 0px;
  height: 600px;
  width: 100%;
}
/* line 12, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question, .l-survey ul.question-list #thanks {
  display: none;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
}
/* line 18, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question.current, .l-survey ul.question-list #thanks.current {
  display: table-cell !important;
}
/* line 21, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question p, .l-survey ul.question-list #thanks p {
  font-size: 32px;
  text-align: center;
}
/* line 25, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question ul, .l-survey ul.question-list #thanks ul {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  list-style: none;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
}
/* line 48, /Users/flavioalves/.rvm/gems/ruby-2.0.0-p195/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
.l-survey ul.question-list .question ul:before, .l-survey ul.question-list .question ul:after, .l-survey ul.question-list #thanks ul:before, .l-survey ul.question-list #thanks ul:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 55, /Users/flavioalves/.rvm/gems/ruby-2.0.0-p195/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
.l-survey ul.question-list .question ul:after, .l-survey ul.question-list #thanks ul:after {
  clear: both;
}
/* line 60, /Users/flavioalves/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.l-survey ul.question-list .question ul li, .l-survey ul.question-list #thanks ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, /Users/flavioalves/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.l-survey ul.question-list .question ul li:first-child, .l-survey ul.question-list .question ul li.first, .l-survey ul.question-list #thanks ul li:first-child, .l-survey ul.question-list #thanks ul li.first {
  padding-left: 0;
}
/* line 49, /Users/flavioalves/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.l-survey ul.question-list .question ul li:last-child, .l-survey ul.question-list #thanks ul li:last-child {
  padding-right: 0;
}
/* line 50, /Users/flavioalves/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.l-survey ul.question-list .question ul li.last, .l-survey ul.question-list #thanks ul li.last {
  padding-right: 0;
}
/* line 32, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question ul.nps-values, .l-survey ul.question-list #thanks ul.nps-values {
  width: 880px;
}
/* line 35, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question ul.nps-values li, .l-survey ul.question-list #thanks ul.nps-values li {
  padding: 0px;
}
/* line 37, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question ul.nps-values li button, .l-survey ul.question-list #thanks ul.nps-values li button {
  margin-left: 0px;
}
/* line 40, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question ul.rating-values, .l-survey ul.question-list #thanks ul.rating-values {
  width: 430px;
}
/* line 43, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question ul.options-values, .l-survey ul.question-list #thanks ul.options-values {
  width: 580px;
}
/* line 46, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question ul.options-values button, .l-survey ul.question-list #thanks ul.options-values button {
  width: 165px;
  font-size: 20px;
  font-weight: 600;
}
/* line 51, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question ul.boolean-values, .l-survey ul.question-list #thanks ul.boolean-values {
  width: 390px;
}
/* line 53, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question ul.boolean-values button, .l-survey ul.question-list #thanks ul.boolean-values button {
  width: 170px;
}
/* line 56, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question input.email, .l-survey ul.question-list .question input.other, .l-survey ul.question-list #thanks input.email, .l-survey ul.question-list #thanks input.other {
  height: 73px;
  border-radius: 3px;
  width: 680px;
  padding: 32px;
  font-size: 22px;
  float: left;
  margin-right: 10px;
}
/* line 65, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question button.send, .l-survey ul.question-list #thanks button.send {
  width: 170px;
  float: left;
  margin: 0px;
}
/* line 71, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question.feedback-question textarea, .l-survey ul.question-list #thanks.feedback-question textarea {
  border-radius: 3px;
  width: 850px;
  height: 180px;
  padding: 20px;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 15px;
}
/* line 80, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question.feedback-question button.send, .l-survey ul.question-list #thanks.feedback-question button.send {
  width: 850px;
}
/* line 84, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question.thanks-message p, .l-survey ul.question-list #thanks.thanks-message p {
  margin-left: 140px;
  margin-right: 140px;
}
/* line 88, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question.thanks-message span.client-logo, .l-survey ul.question-list #thanks.thanks-message span.client-logo {
  background: url("client-logo.png") no-repeat center center;
  display: block;
  height: 89px;
  width: 123px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
/* line 97, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question .form-group, .l-survey ul.question-list #thanks .form-group {
  margin-top: 26px;
  margin-left: 50px;
}
/* line 101, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question .pull-left, .l-survey ul.question-list #thanks .pull-left {
  text-align: left !important;
}
/* line 104, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question .other-option, .l-survey ul.question-list #thanks .other-option {
  display: none;
}
/* line 107, /Users/flavioalves/dev/projects/promotools-webmobile-app/app/assets/stylesheets/layouts/_survey.sass */
.l-survey ul.question-list .question a.other, .l-survey ul.question-list #thanks a.other {
  color: #454545;
  text-decoration: underline;
  font-size: 23px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: block;
  text-align: center;
  margin-top: 10px;
}
